@page
@model Odpelji_me.Pages.Avto.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Avtomobil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Avtomobil.Id" />
            <div class="form-group">
                <label asp-for="Avtomobil.Znamka" class="control-label"></label>
                <input asp-for="Avtomobil.Znamka" class="form-control" />
                <span asp-validation-for="Avtomobil.Znamka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avtomobil.Model" class="control-label"></label>
                <input asp-for="Avtomobil.Model" class="form-control" />
                <span asp-validation-for="Avtomobil.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avtomobil.Leto" class="control-label"></label>
                <input asp-for="Avtomobil.Leto" class="form-control" />
                <span asp-validation-for="Avtomobil.Leto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avtomobil.CenaNaDan" class="control-label"></label>
                <input asp-for="Avtomobil.CenaNaDan" class="form-control" />
                <span asp-validation-for="Avtomobil.CenaNaDan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avtomobil.RegistrskaStevilka" class="control-label"></label>
                <input asp-for="Avtomobil.RegistrskaStevilka" class="form-control" />
                <span asp-validation-for="Avtomobil.RegistrskaStevilka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avtomobil.Status" class="control-label"></label>
                <input asp-for="Avtomobil.Status" class="form-control" />
                <span asp-validation-for="Avtomobil.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
